-
  pages = {
    index: {
      title: 'Official Web Site',
      header_style: 'index',
      is_slider: true,
      is_sliderJs: true,
      is_bgm: true,
    },
    profile: {
      title: 'profile',
    },
    character: {
      title: 'character',
      is_slider: true,
      is_sliderJs: true,
    },
    event: {
      title: 'event',
    },
    discography: {
      title: 'discography',
    },
    works: {
      title: 'works',
    },
    contact: {
      title: 'contact',
    },
    shop: {
      title: 'shop',
    },
  }


