section.character__wrap.page__mainWrap
  .character__slider
    .character__item
      .character__image
        img(src="../../img/400x500.png", alt="character01")
      dl.character__detailList
        dt.character__detailTtl name
        dd.character__detailTxt sample
    .character__item
      .character__image
        img(src="../../img/400x500-2.png", alt="character02")
      dl.character__detailList
        dt.character__detailTtl name
        dd.character__detailTxt sample
    .character__item
      .character__image
        img(src="../../img/400x500-3.png", alt="character03")
      dl.character__detailList
        dt.character__detailTtl name
        dd.character__detailTxt sample
    .character__item
      .character__image
        img(src="../../img/400x500-4.png0.png", alt="character04")
      dl.character__detailList
        dt.character__detailTtl name
        dd.character__detailTxt sample
