-
  const ars = [
    {
      title: '-LostFairy-',
      href: 'http://lostfairy.com/',
      img: imgPath + '/bl_ars037.png',
    },
    {
      title: 'Ariabl\'eyeS',
      href: 'http://ariableyes.com/',
      img: imgPath + '/a_ariabl12l.jpg',
    },
    {
      title: 'オフィシャル通販',
      href: 'https://lostfairy.booth.pm/',
      img: imgPath + '/booth.jpg',
    },
  ]

  const rator = [
    {
      title: 'えみゃコーラ',
    },
  ]

  const event = [
    {
      title: 'コミックマーケット',
      href: 'http://www.comiket.co.jp/',
    },
    {
      title: 'M3',
      href: 'http://www.m3net.jp/',
    },
    {
      title: 'ARTiSM MARKET',
      href: 'http://www.artism.jp/',
    },
  ]

  const shop = [
    {
      title: 'Amazon',
      href: 'http://www.amazon.co.jp/s/ref=nb_sb_noss?__mk_ja_JP=%E3%82%AB%E3%82%BF%E3%82%AB%E3%83%8A&url=search-alias%3Dpopular&field-keywords=lostfairy&rh=n%3A561956%2Ck%3Alostfairy',
    },
    {
      title: 'アニメイト',
      href: 'http://www.animate-onlineshop.jp/products/list.php?mode=search&smt=-LostFairy-',
    },
    {
      title: 'メロンブックス',
      href: 'https://www.melonbooks.co.jp/circle/index.php?circle_id=5006',
    },
    {
      title: 'とらのあな',
      href: 'https://ec.toranoana.jp/tora_r/ec/app/catalog/list/?searchDisplay=0&searchBackorderFlg=1&searchWord=lostfairy',
    },
    {
      titel: 'あきばお～こく',
      href: ' http://www.akibaoo.com/GoodsList.jsp?category_id=&keyword=lostfairy',
    },
  ]

section.shop__wrap.page__mainWrap

