meta(charset="UTF-8")
title -LostFairy- #{page.title}
meta(name="description" content="-LostFairy-")
meta(name="keywords" content="-LostFairy-,lostfairy,ロストフェアリー,同人音楽,上坂すみれ,内田彩,能登麻美子,後藤麻衣,高橋李依,種崎敦美,深田愛衣")
link(rel="stylesheet" href="style.css")
if page.is_slider
  link(rel="stylesheet" href="src/css/slick-theme.css")
  link(rel="stylesheet" href="src/css/slick.css")
